.cargando{
    margin-top: 0px;
    width: 80%;
    float: left;
    height: 88vh;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
}