.menu{
    background-color: darkred;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding-left: 40px;

}

.menu button{
    width: auto;
    background-color: transparent;
    height: 60px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 15px 0px 5px;
    text-shadow: 2px 5px 5px black;
}

.menu button:hover{
    cursor: pointer;
    color:black;
}

.cargando{
    text-shadow: 3px 3px 3px black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}





.subcontainerdetalle{
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.names{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.titleName{
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid darkred;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    color: white;
}


.container01{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}

.subcontainer01{
    width: 100%;
    height: 250px;
    padding: 0px 0px 20px 0px;
}   
.image{
    width: 100%;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.image img{
    width: 320px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
}


.subcontainer02{
    width: 40%;
    /* background-color: red; */
    padding: 20px 20px 0px 20px;
    height: 250px;
}
.diet{
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid darkred;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    height: 200px;
}
.titleDiet{
    color:white;
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.dietas{
    
    margin: 0px;
    padding-left: 15px;
    font-size: 15px;
    color:white;
    padding-left: 10px;
}





.subcontainer03{
    width: 60%;
    /* background-color: brown; */
    height: 250px;
    padding: 20px 20px 0px 20px;
}
.dishType{
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid darkred;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    height: 200px;
}

.titleDishType{
    color:white;
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dishh{
    margin: 0px;
    padding-left: 15px;
    font-size: 15px;
    color:white;
    padding-left: 10px;
}


.container02{
    /* background-color: darkred; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.titleHealthScore{
    width: 20%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid darkred;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    color: white;
}

.titleHealthScore span{
    color:white;
    font-size: 18px;
    /* padding: 0px 5px 0px 5px; */
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container03{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.summary{
    margin-top: 30px;
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid darkred;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    padding: 5px;
    /* text-align: center; */
    color: white;
}

.summary h2{
    margin-top: 0px;
    padding-left: 10px;
}
.summary p{
    font-size: 15px;
    padding: 10px;
}

.container04{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.step{
    margin-top: 30px;
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid darkred;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    padding: 5px;
    /* text-align: center; */
    color: white;
}

.step h2{
    margin-top: 0px;
    padding-left: 10px;
}
.step p{
    font-size: 15px;
    padding: 10px;
}
